body{
    font-family: 'Open Sans','Segoe UI' !important;
}
h1,h2,h2,h4,h5,h6{
    font-family: 'Open Sans','Segoe UI' !important;
}

input, button, select, .card, .btn, textarea{
  border-radius: 0px !important;
}

.sidebar-nav > ul > li > a {
    color: white !important;
}
.hidden-icon {
    display: none;
}

.hidden-icon-small {
    display: block !important;
}

@media (min-width: 768px){
    .hidden-icon {
        display: block;
    }

}

@media (max-width: 480px){
    .hidden-icon {
        display: none;
    }

    .hidden-icon {
        display: none;
    }
}

.topbar{
    /*position: fixed !important;*/
    /*position: fixed !important; top: 0px; width: 1349px;*/
}

.sidebar-nav ul li a.active {
    font-weight: 500;
    color: #d0d0d0 !important;
}

#error_tk{
    color: red;
}

.has-success .input_success{
    border-color: #26dad2 !important;
}

.has-success .input_danger{
    border-color: #ef5350 !important;
}

.is-danger{
    color: #ef5350 !important;
}

.border-danger{
    border-color: #ef5350 !important;
}

.active-click-row{
    background-color: #ddd !important;
    font-weight: 400 !important;
    color: black !important;
}

.modal-title {
    font-weight: 400;
}
.modal-content {
    border-radius: 0;
}

label {
    font-weight: 600;
}

.loading-item {
    height: 100%;
    width: 100%;
    /*background-color: blanchedalmond;*/
}

.loading-item::before {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0b97c4;
    top: 0;
    left: 0;
}

.form-chung{
    background-color: white;
}

.select_item {
    position: relative;
}

.select_bo_phan {
    position: absolute;
    top: 0;
    left: 0;
}

.btn-full-width {
    position: relative;
}

@media (max-width: 576px){
    .btn-full-width {
        width: 100% !important;
        margin-bottom: 5px;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 1000px !important;
    }
}

@media (min-width: 768px) {
    .label-form {
        width: 100px;
    }
    .col-md-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: none;
        max-width: 16.666667%;
    }
}

.small, small {
    font-size: 11px;
    font-weight: 400;
}

#timkiem{
    width: 100%;
    position: relative;
    padding-right: 87px;
    font-size: 13px;
}

.btntimkiem{
    position: absolute;
    top: 3px;
    right: 18px;
    height: 37px;
    font-size: 13px;
    height: 32px;
    padding: 5px 13px;
}

.label-form {
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 0;
}

.modal-header {
    background-color: #f5f5f5;
}

.modal-footer {
    background-color: #f5f5f5;
}

.select-lam {
    position: relative;
    width: 100%;
}

.body-select-lam {
    position: absolute;
    top: 35px;
    left: 0px;
    width: 100%;
    z-index: 20;
    display: none;
}

.body-select-lam select option {
    cursor: pointer;
}

.body-select-lam select {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100px;
    display: block;
}

.body-select-lam select option:hover {
    background-color: #ddddff;
}

.btntatca {
    position: absolute;
    top: 3px;
    right: 101px;
    height: 37px;
    font-size: 13px;
    height: 32px;
    padding: 5px 13px;
}

.form-control {
    padding-left: 15px;
}

@media (max-width: 768px){
    .hidden-small-icon {
        display: none;
    }
    .hidden-icon {
        display: none;
    }

}

@media (min-width: 768px){
    .hidden-small-icon {
        display: block;
    }
    .hidden-icon {
        display: block;
    }
}



