/* #table_nhanvien tr th {
  display: inline-block;
} */

#table_nhanvien tr th:nth-child(2){
  min-width: 50px;
}

#table_nhanvien tr th:nth-child(3){
  min-width: 100px;
}

#table_nhanvien tr th:nth-child(4){
  min-width: 200px;
}

#table_nhanvien tr th:nth-child(5){
  min-width: 50px;
}

#table_nhanvien tr th:nth-child(6){
  min-width: 105px;
}
#table_nhanvien tr th:nth-child(7){
  min-width: 220px;
}

#table_nhanvien tr th:nth-child(8){
  min-width: 100px;
}

#table_nhanvien tr th:nth-child(9){
  min-width: 105px;
}

#table_nhanvien tr th:nth-child(10){
  min-width: 150px;
}

#table_nhanvien tr th:nth-child(11){
  min-width: 300px;
}

#table_nhanvien tr th:nth-child(12){
  min-width: 300px;
}

#table_nhanvien tr th:nth-child(13){
  min-width: 120px;
}

#table_nhanvien tr th:nth-child(14){
  min-width: 120px;
}

#table_nhanvien tr th:nth-child(15){
  min-width: 120px;
}

#table_nhanvien tr th:nth-child(16){
  min-width: 120px;
}

#table_nhanvien tr th:nth-child(17){
  min-width: 100px;
}

#table_nhanvien tr th:nth-child(18){
  min-width: 300px;
}

#table_nhanvien tr td:nth-child(19){
  max-width: 300px;
}
#table_nhanvien tr td:nth-child(19){
  min-width: 100px;
}

#table_nhanvien tr td:nth-child(12){
  max-width: 300px;
}

#table_nhanvien tr td:nth-child(18){
  max-width: 300px;
}

.hidden-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#table_ttcv tr th:nth-child(1){
  min-width: 125px;
}

#table_ttcv tr th:nth-child(2){
  min-width: 125px;
}

#table_ttcv tr th:nth-child(3){
  min-width: 180px;
}

#table_ttcv tr th:nth-child(4){
  min-width: 115px;
}

#table_ttcv tr th:nth-child(5){
  min-width: 115px;
}

#table_ttcv tr th:nth-child(6){
  min-width: 125px;
}

#table_ttcv tr th:nth-child(7){
  min-width: 125px;
}

#table_ttcv tr th:nth-child(8){
  min-width: 125px;
}

#table_ttcv tr th:nth-child(9){
  min-width: 125px;
}

#table_ttcv tr th:nth-child(10){
  min-width: 125px;
}

#table_ttcv tr th:nth-child(11){
  min-width: 125px;
}

#table_ttcv tr th:nth-child(12){
  min-width: 125px;
}

#table_ttcv tr th:nth-child(13){
  min-width: 125px;
}

#table_ttcv tr th:nth-child(14){
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#table_ttcv tr th:nth-child(15){
  min-width: 120px;
  text-align: center;

}

#table_ttcv tr td:nth-child(14) {
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#table_npt tr th:nth-child(1){
  min-width: 125px;
}

#table_npt tr th:nth-child(2){
  min-width: 125px;
}

#table_npt tr th:nth-child(3){
  min-width: 125px;
}

#table_npt tr th:nth-child(4){
  min-width: 115px;
}

#table_npt tr th:nth-child(5){
  min-width: 115px;
}

#table_npt tr th:nth-child(6){
  min-width: 125px;
}

#table_npt tr th:nth-child(7){
  min-width: 125px;
}

#table_npt tr th:nth-child(8){
  min-width: 125px;
}

#table_npt tr th:nth-child(9){
  min-width: 125px;
}

#table_npt tr th:nth-child(10){
  min-width: 125px;
}

#table_npt tr th:nth-child(11){
  min-width: 125px;
}

#table_npt tr th:nth-child(12){
  min-width: 125px;
}

#table_npt tr th:nth-child(13){
  min-width: 125px;
}

#table_npt tr th:nth-child(14){
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#table_npt tr th:nth-child(15){
  min-width: 120px;
  text-align: center;

}

/*#table_ttcv tr td:nth-child(14) {*/
  /*max-width: 150px;*/
  /*text-overflow: ellipsis;*/
  /*overflow: hidden;*/
  /*white-space: nowrap;*/
/*}*/

