.el-collapse-item__header{
    background: #242933 !important;
    border: #242933 !important;
    color: white !important;
    font-size: 14px;
}

.title-chuc-nang{
    
}

.card-fullscreen {
    margin-top: 0 !important;
}